<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Store</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="icon" href="https://res.cloudinary.com/dhjz3wbml/image/upload/v1492207056/rainbow-512_mo6nsp.png"/>
</head>
<body>
  <DIV id="app"><%- reactComponent -%></DIV>
  <script>window.INITIAL_STATE=<%- initialState -%></script>
  <script src="bundle.js"></script>
</body>
</html>
